<div class="text-center border-b mb-10 p-4">
    <figure class="w-24 inline-block my-4">
        <img class="rounded-full" [src]="unknow" alt="Unknow User">
    </figure>
    <p>John Doe</p>
</div>

<ul class="mb-10">
    <li class="py-4 px-6">
        <a class="is-active">Messages</a>
    </li>
    <li class="py-4 px-6">
        <a>Groups</a>
    </li>
    <li class="py-4 px-6">
        <a>Contacts</a>
    </li>
    <li class="py-4 px-6">
        <a>Profile</a>
    </li>
</ul>

<ul class="fixed bottom-0 mb-10">
    <li class="py-4 px-6">
        <a>Settings</a>
    </li>
    <li class="py-4 px-6">
        <a>Logout</a>
    </li>
</ul>