<div class="w-full flex absolute justify-between items-center border-b border-black p-4">

    <div class="flex">

        <figure class="w-12 mr-2">
            <img class="rounded-full" [src]="unknow" alt="Unknow User">
        </figure>

        <div class="flex content-between flex-wrap">
            <h2 class="w-full">Angu Tamba</h2>
            <span>Last seen today at 1:30 PM</span>
        </div>

    </div>

    <div>
        <span>X</span>
    </div>

</div>

<div 
    *ngIf="(userLogged$ | async) as user" 
    class="overflow-auto w-full absolute top-0 bottom-0 px-4 pb-16" 
    style="top: 100px">

    <div 
        *ngFor="let message of messages$ | async" 
        class="flex mb-6"
        [ngClass]="message.author === user.id ? 'flex-row-reverse' : 'flex-row'">

        <figure class="w-12 flex-shrink-0">
            <img class="rounded-full" [src]="unknow" alt="Unknow User">
        </figure>

        <div class="text-sm text-white rounded bg-blue-500 mx-6 p-2">
            <span>{{ message.content }}</span>
        </div>

    </div>

</div>

<form 
    *ngIf="(userLogged$ | async) as user" 
    class="w-full flex absolute bottom-0 bg-white px-4" 
    [formGroup]="msgForm" 
    (ngSubmit)="onSubmit(user)">

    <input class="w-full focus:outline-none py-6 px-4" type="text" placeholder="Type a message..."
        formControlName="content">

    <button type="submit" class="focus:outline-none">
        <fa-icon class="" icon="paper-plane"></fa-icon>
    </button>

</form>