<!-- <main class="flex h-screen">

    <div class="w-2/12 bg-blue-100">
        <livechat-aside></livechat-aside>
    </div>

    <div class="w-3/12 bg-red-200">
        <livechat-chat-list></livechat-chat-list>
    </div>

    <div class="w-7/12 flex relative bg-green-200">
        <livechat-messages></livechat-messages>
    </div>
    
    <livechat-login></livechat-login>

</main> -->

<livechat-layout-header class="w-2/12 relative"></livechat-layout-header>
<main class="w-10/12" role="main">
    <router-outlet></router-outlet>
</main>